#comment-list
  .media
    .media-left
      = link_to user_path(comment.user_id) do
        = image_tag(comment.user.avatar.thumb, alt: "user_icon", class: "media-object", style: "width: 64px; height: 64px; border-radius: 30%;")
    .media-body
      %h4.media-heading#top-aligned-media
        = comment.user.name
      %p
        = comment.text
      .function-list
        .btn.comment-btn
          = link_to 'DELETE', prototype_comment_path(comment.prototype.id, comment.id), method: :delete, data: {confirm: 'Are you sure?'}
        .btn.comment-btn
          = link_to 'EDIT', edit_prototype_comment_path(comment.prototype.id, comment.id)
